@use "sass:color";

// =====================
// Variables
// =====================
$primary-color: #DB2A6B;
$bg-color: #2B2D38;
$text-color: #ffffff;
$text-secondary: #ffffff80;
$font-main: 'Poppins', sans-serif;
$font-heading: 'Merriweather';

// =====================
// Reset & Base
// =====================
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-main;
  background: $bg-color;
  color: $text-color;
  background-image: url("/src/assets/images/elipses.svg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

// =====================
// Header
// =====================
.header {
  padding: 2.5rem 0;

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 7rem;
    font-size: 1.1rem;
    font-weight: 300;

    .nav__links {
      display: flex;
      gap: 3.2rem;
      list-style: none;

      a {
        text-decoration: none;
        color: $text-secondary;
        transition: color 0.3s ease;
        padding-bottom: 10px;
        position: relative;

        &.active{
          color: $text-color;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            transform: translateX(-5%);
            width: 60%;
            height: 4px;
            background-color: $primary-color;
            border-radius: 2px;
          }
        }

        &:hover {
          color: $text-color;

        }
      }
    }
  }
}

// =====================
// Hero Section
// =====================
.hero {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 4rem 0;
  gap: 3rem;

  &__content {
    flex: 1;

    .hero__title {
      margin-top: 2rem;
      font-family: $font-heading;
      font-weight: 600;
      margin-bottom: 1rem;
      max-width: 90%;
      font-size: 5rem;
    }

    .hero__subtitle {
      color: $text-secondary;
      margin-bottom: 2rem;
      line-height: 2.5rem;
      max-width: 80%;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 300;
    }

    .hero__buttons {
      display: flex;
      // gap: 1rem;
      margin-bottom: 3rem;
      font-size: 1.1rem;

      .btn {
        padding: 1rem 4.5rem;
        border-radius: 1rem 1rem 1rem 0;
        font-weight: 300;
        text-decoration: none;
        transition: background 0.3s ease;
        display: inline-flex;
        align-items: center;

        &--primary {
          background: $primary-color;
          color: $text-color;

          &:hover {
            background: color.scale($primary-color, $lightness: -20%);
          }
        }

        &--link {
          color: $text-color;
          text-decoration: underline;
          font-weight: 500;

          &:hover {
            color: color.scale($text-color, $lightness: 20%);
          }

          .icon {
            width: 2rem;
            height: 2rem;
            margin-left: 10px;
          }

        }
      }
    }

    .hero__features {
      margin-top: 9rem; 
      display: flex;
      gap: 2rem;
      max-width: 80%;
      font-size: 1.1rem;
      font-weight: 600;

      .feature {
        display: flex;
        align-items: center;
        gap: 1rem;

      }
    }
  }

  &__image {
    flex: 1;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      // height: auto;
      border-radius: 1rem;
    }
  }
}

// =====================
// Responsive
// =====================
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;

    &__image {
      margin-top: 2rem;

      img {
        max-width: 300px;
      }
    }

    .hero__buttons {
      justify-content: center;
    }

    .hero__features {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}
